@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth !important;
}

* {
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

h1 {
    margin-top: 0;
    font-size: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.pointer {
    cursor: pointer;
}

.badge-primary {
    // background-color: $base-color;
}

.divider-based {}

.MuiSvgIcon-colorPrimary {
    color: $base-color !important;
}

.dropdown-content {
    z-index: 500;
}

.btn {
    font-weight: 400;
}

.btn-primary {
    color: $white-color !important;
}

.btn-error {
    color: $white-color !important;
}

.badge-primary {
    color: $white-color !important;
}

.card-body {
    padding: 1rem 1.5rem !important;
}

.shadow-xl {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.125);
}

.sendMailDone {
    position: fixed;
    top: 4rem;
    left: 100vw;
    width: auto;

    transition: opacity 0.125s;

    color: $white-color;

    svg {
        color: $white-color;
    }

    z-index: 1000;
}

.sendMailDone[opened] {
    
    right: 1rem;
    left: auto;

    opacity: 1;
    transition: opacity 0.25s;
}

.menu-title {
    color: black;
}


@media (max-width: 991px) {
    html {
        overflow-x: hidden;
    }

    .sendMailDone {
        top: auto;
        bottom: 4rem;
        left: 100vw;
        width: 90%;
    }
    
    .sendMailDone[opened] {
        left: 50%;
        transform: translateX(-50%);
    }
}