.main {
    margin-top: 1rem;
    // min-height: 100vh;
}

.catalog {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 3rem;
}

.filterToggler {
    display: none;
}

.breadcrumbs {
    overflow-x: hidden;
}

@media (max-width: 991px) {
    .catalog {
        flex-direction: column;
        // gap: 0;
        row-gap: .5rem;
    }

    .breadcrumbs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .filterToggler {
        display: inline-grid;
    }
}