@import '../../styles/variables';

.background, .backImage {
    width: 100vw;
    height: 100%;
    position: absolute;
    background-color: $base-color;
    // background-image: url('../../public/images/slide-1.jpg');
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.backImage {
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url('../../public/images/slide-1.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    z-index: 2 !important;
    position: relative;
    padding: 2rem 0;
}

.header {
    width: 100%;
    text-align: start;
    font-size: 2rem;
    color: $base-color;
}

.color_header {
    color: $white-color;
}

@media (max-width: 991px) {
    .header {
        font-size: 1.5rem;
    }
}