@import '../../../styles/variables';

.main {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.header {
    width: 100%;
}

.blocks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.map {
    width: 60%;
    background-color: antiquewhite;
    border: 2px solid $base-color;
    border-radius: .5rem;

    iframe {
        border-radius: .5rem;
    }
}

.info {
    // width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    .item h3 {
        font-weight: 600;
        margin-bottom: .5rem;
    }
}