@import '../../../styles/variables';

.main {
    width: 100%;
    height: auto;
    // background-color: black;
    position: relative;
    box-sizing: content-box;
}

.info {
    width: 100%;
    height: 100%;

    padding: 5rem 0;

    position: relative;
    z-index: 2 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .desc {
        width: 70%;
        text-align: center;
        font-size: 1.5rem;
    }

    .title {

        display: flex;
        flex-direction: row;
        // gap: .5rem;

        .words {

            display: flex;
            flex-direction: column;
            align-items: center;

            .menu {

                .word {
                    cursor: pointer;
                    font-size: 120px;
                    font-weight: 500;
                    -webkit-text-stroke-width: .5px;
                    -webkit-text-stroke-color: $white-color;
                    line-height: 100%;
                    font-weight: 500;
                    font-family: "Oswald", sans-serif;
                    letter-spacing: 5px;
                }

                .highlighted {
                    color: $base-color;
                }

                .line {
                    margin: 0;
                    margin-top: 1rem;
                    height: auto;
                }

                position: relative;
                width: min-content;
                margin-right: 5rem;

                .dropdown {
                    width: 20rem;
                    max-height: 0;
                    transition: max-height 0.25s linear;
                    overflow-y: hidden;
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: white;
                    z-index: 900;

                    border-radius: .5rem;

                    .items {

                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        * {
                            color: black !important;
                        }

                        .btn {
                            color: $white-color !important;
                        }

                        h2 {
                            text-align: center;
                            margin: 1rem 0;
                        }

                        li {

                            border: 1px solid rgba($color: $base-color, $alpha: .5);
                            border-radius: .5rem;

                            a {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                .title {
                                    font-weight: 500;
                                }
                                .subtitle {
                                    font-size: 0.75rem;
                                }
                            }
                        }
                    }
                }

                &:hover .dropdown {
                    max-height: 400px;
                    transition: max-height 0.5s linear;
                }

            }

            .word_1 {
                margin-right: 20rem;
            }

            .word_2 {
                margin-left: 5rem;
            }

            .word_3 {
                margin-left: 20rem;
            }

            .line {
                margin: 0;
                margin-top: 1rem;
                height: auto;
            }

        }

        .line {
            margin: 0;
        }

        .numbers {
            writing-mode: tb-rl;
            font-size: 60px;
            line-height: 90%;
            -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: $white-color;
            color: $base-color;
            font-family: "Oswald", sans-serif;
        }
    }

    * {
        color: $white-color;
    }
}