.items {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.item {
    width: calc(50% - 0.5rem);
}

.popularCell {
    display: flex;
    flex-direction: row;
    justify-content: center;

    input[type=checkbox] {
        --chkfg: white;
    }
}