.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1.5rem;
}

.about {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;

    p {
        text-indent: 1.5rem;
    }
}

.certificates {
    width: 55%;
    h2 {
        margin-bottom: 1rem;
        text-align: center
    }
}

.objects {
    width: 100%;
    h2 {
        margin-bottom: 1rem;
        // text-align: center
    }
}